<footer class="section footer">
  <div class="row">
    <div class="small-10 small-offset-1 medium-4 medium-offset-8 columns">
      <div class="social">
        <ul>
          <li>
            <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
      <p>
        <a href="mailto:info@thegsummit.org">info@thegsummit.org</a><br>
        4500 Great America Parkway<br>
        Santa Clara, CA 95054<br>
        (408) 463-6956
      </p>
      <p class="copyright">&copy; 2016 G-Summit. All Rights Reserved.</p>
    </div>
  </div>
</footer>
